body{
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: center;
}
#calculator{
    background-color: coral;
    display: flex;
    padding: 5px;
    flex-flow: column nowrap;

}
#buttons{
    display: flex;
    flex-flow: row wrap;
    width: 140px;
}
#buttons button{
    width: 30px;
    height: 30px;
    margin: 2px;
}

#display{
    margin-bottom: 5px;
    background-color: cornsilk;
} 
.num{
    background-color: rgb(255, 162, 198);
    border-radius: 6px;
}
.operator{
    background-color: rgb(207, 255, 193);
}