body{
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: center;
}
#calculator{
    background-color: coral;
    display: flex;
    height: 600px;
    padding: 5px;
    justify-content: center;
    flex-flow: column nowrap;

}
#buttons{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 675px;
}
#buttons button{
    font-size: 48px;
    width: 160px;
    height: 120px;
    margin: 2px;
}
.innerdiv{
    display: flex;
    justify-self: center;
    flex: 1;
}
#funbuttons{
    display: flex;

    justify-content: center;
    width: 675px;
}
#display{
    width: 675px;
    font-size: 48px;
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
    background-color: cornsilk;
} 
.funbutton{
    flex: 1;
    font-size: 32px;
}
.num{
    background-color: rgb(255, 162, 198);
    border-radius: 6px;
}
.operator{
    background-color: rgb(207, 255, 193);
}